code/01-server/gcp/terraform.tfstate
code/01-server/gcp/terraform.tfstate
code/01-server/gcp/terraform.tfstate.backup
code/01-web-server/aws/.terraform.lock.hcl
code/01-web-server/aws/terraform.tfstate
code/01-web-server/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.20.1/linux_amd64/terraform-provider-aws_v4.20.1_x5
code/01-web-server/aws/terraform.tfstate.backup
code/01-server/gcp/terraform.tfstate
code/01-server/gcp/terraform.tfstate.backup
code/02-web-server/aws/.terraform.lock.hcl
code/02-web-server/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.20.1/linux_amd64/terraform-provider-aws_v4.20.1_x5
code/02-web-server/aws/terraform.tfstate
code/02-web-server/aws/terraform.tfstate
code/02-web-server/aws/terraform.tfstate.backup
code/02-web-server-with-vars/aws/.terraform.lock.hcl
code/02-web-server-with-vars/aws/terraform.tfstate
code/02-web-server-with-vars/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.20.1/linux_amd64/terraform-provider-aws_v4.20.1_x5
